.anu{
    background-color: rgb(245, 232, 247);
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left: 25px;
    padding-top: 25px;
    padding-top: 50px;
    padding-bottom: 25px;
    padding-right: 25px;
    font-size: 1.5em;
    line-height: 40px;
    border-radius: 20px;
}
/* #btn{
    cursor: pointer;
    color: rgb(228, 228, 232);
    background-color: black;
}
#btn:hover{

} */
button {
    background-color: rgb(170, 170, 216);
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: rgb(222, 185, 185);
    color: white;
  }
